# --- PlatformIO ---
.pio/
.pioenvs/
.piolibdeps/
lib/deps/

# --- VS Code / IDE ---
.vscode/

# --- Security / Sensitive Info ---
include/secrets.h
secrets.h
*.env

# --- OS ---
.DS_Store
Thumbs.db

# --- Build / Temp Files ---
*.pyc
*.o
*.obj
*.elf
*.bin