#ifndef SECRETS_H
#define SECRETS_H

// Rename this file to secrets.h and fill in your actual credentials
const char* ssid = "YOUR_WIFI_SSID";
const char* password = "YOUR_WIFI_PASSWORD";

// For the Cloud Database
#define FIREBASE_HOST "YOUR_PROJECT_ID.firebaseio.com"
#define FIREBASE_AUTH "YOUR_DATABASE_SECRET_OR_API_KEY"

#endif